<form class="character-sheet" autocomplete="off">
    <header class="sheet-header">
        <h1>{{name}}</h1>
    </header>

    <div class="sheet-tabs">
        <ul class="tab-navigation">
            <li class="active" data-tab="attributes">Attributes</li>
            <li data-tab="spells">Spells</li>
            <li data-tab="items">Items</li>
        </ul>
    </div>

    <div class="sheet-body">
        <section class="tab active" data-tab="attributes">
            <h2>Attributes</h2>
            <div class="attributes">
                <div class="attribute">
                    <label>{{localize "SKATE_AND_WIZARDS.ATTRIBUTE_1"}}</label>
                    <input type="number" name="data.attributes.strength.value"
                        value="{{data.attributes.strength.value}}">
                </div>
                <div class="attribute">
                    <label>{{localize "SKATE_AND_WIZARDS.ATTRIBUTE_2"}}</label>
                    <input type="number" name="data.attributes.dexterity.value"
                        value="{{data.attributes.dexterity.value}}">
                </div>
                <div class="attribute">
                    <label>{{localize "SKATE_AND_WIZARDS.ATTRIBUTE_3"}}</label>
                    <input type="number" name="data.attributes.will.value" value="{{data.attributes.will.value}}">
                </div>
            </div>
        </section>

        <section class="tab" data-tab="spells">
            <h2>Spells</h2>
            <div class="spells">
                <h3>Permanent Spells</h3>
                {{#each data.spells.permanent}}
                <div class="spell">{{this}}</div>
                {{/each}}

                <h3>Random Spells</h3>
                {{#each data.spells.random}}
                <div class="spell">{{this}}</div>
                {{/each}}

                <h3>Bootleg Spell</h3>
                <div class="spell">{{data.spells.bootleg}}</div>
            </div>
        </section>

        <section class="tab" data-tab="items">
            <h2>Items</h2>
            <div class="items">
                {{#each data.items}}
                <div class="item">{{this}}</div>
                {{/each}}
            </div>
        </section>
    </div>
</form>