<form class="random-spells">
    <h1>{{localize "SKATE_AND_WIZARDS.RANDOM_SPELLS_TABLE"}}</h1>
    <table>
        <thead>
            <tr>
                <th>{{localize "SKATE_AND_WIZARDS.COLUMN_1"}}</th>
                <th>{{localize "SKATE_AND_WIZARDS.COLUMN_2"}}</th>
                <th>{{localize "SKATE_AND_WIZARDS.COLUMN_3"}}</th>
                <th>{{localize "SKATE_AND_WIZARDS.COLUMN_4"}}</th>
            </tr>
        </thead>
        <tbody id="spellsTable">
            {{#each this.spellParts}}
            <tr>
                <td>{{localize this.part1}}</td>
                <td>{{localize this.part2}}</td>
                <td>{{localize this.part3}}</td>
                <td>{{localize this.part4}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button type="button" id="rollSpell">{{localize "SKATE_AND_WIZARDS.ROLL_RANDOM_SPELL"}}</button>
    <h2>{{localize "SKATE_AND_WIZARDS.RESULT"}}: <span id="spellResult"></span></h2>
</form>