<form class="random-items">
    <h1>{{localize "SKATE_AND_WIZARDS.RANDOM_ITEMS_TABLE"}}</h1>
    <table>
        <thead>
            <tr>
                <th>{{localize "SKATE_AND_WIZARDS.D12"}}</th>
                <th>{{localize "SKATE_AND_WIZARDS.ITEM"}}</th>
                <th>{{localize "SKATE_AND_WIZARDS.DESCRIPTION"}}</th>
            </tr>
        </thead>
        <tbody id="itemsTable">
            {{#each this.items}}
            <tr>
                <td>{{@index}}</td>
                <td>{{localize this.name}}</td>
                <td>{{localize this.description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button type="button" id="rollItem">{{localize "SKATE_AND_WIZARDS.ROLL_RANDOM_ITEM"}}</button>
    <h2>{{localize "SKATE_AND_WIZARDS.RESULT"}}: <span id="itemResult"></span></h2>
</form>